@use 'lib' as *;

.header1 {
	$self: &;
	padding-right: calc(var(--noscroll-target-scrollbar-width, 0px));
	background-color: var(--dawn);
	transition: box-shadow 0.3s;
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;

	&_scrolled {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 0;
		height: 60px;
		gap: 16px;
	}

	&__logo {
		max-width: 100px;
		min-width: 60px;

		@include media('<=md') {
			max-width: 80px;
		}

		img {
			display: block;
		}
	}

	&__navi {
		
		@include media('<=sm') {
			width: 100%;
			height: calc(var(--vh, 1dvh) * 100);
			position: fixed;
			z-index: 5;
			top: 0;
			left: -310px; 
			max-width: 300px;
			transition: left 0.3s linear;
	
			&.opened {
				left: 0;
			}
		}
	}

	&__close {

	}

	&__toggle {
		display: none;

		@include media('<=sm') {
			display: flex;
		}
	}
}