@use 'lib' as *;

.select2 {
	$self: &;
	box-sizing: border-box;
	position: relative;
	// width: 100%;
	// max-width: 155px;

	&_opened {
		#{$self}__body {
			display: block;
		}

		#{$self}__head::after {
			rotate: 180deg;
		}
	}

	&_flipped {
		#{$self}__body {
			top: auto;
			bottom: calc(100% + 10px);
		}
	}

	&__head {
		display: flex;
		box-sizing: border-box;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		gap: 10px;

		&::after {
			display: block;
			content: '';
			width: 15px;
			aspect-ratio: 1;
			transition: rotate 0.2s;
			background: svg-url('<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.286561 0.291237C0.669855 -0.0958391 1.29273 -0.0972571 1.67778 0.288072L8.99998 7.61564L16.3223 0.288072C16.7073 -0.0972571 17.3301 -0.0958391 17.7135 0.291237C18.0967 0.678314 18.0953 1.30446 17.7103 1.68979L9.69401 9.71192C9.31025 10.096 8.68977 10.096 8.30595 9.71192L0.289709 1.68979C-0.0953362 1.30446 -0.0967468 0.678314 0.286561 0.291237Z" fill="#555555"/></svg>') center / contain no-repeat transparent;
		}
	}

	&__body {
		box-sizing: border-box;
		display: none;
		position: absolute;
		right: 0;
		top: calc(100% + 10px);
		min-width: 100%;
		z-index: 1;
		animation: fadeIn 0.3s;
		border: 1px solid var(--light);
		background-color: var(--white);
		padding: 5px 10px;
	}

	&__list {
		
	}

	&__item {
		white-space: nowrap;
		padding: 5px 0;
		font-size: 15px;
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: var(--grey);
		}
	}
}
