@use 'lib' as *;

.navi1 {
	$self: &;
	display: contents;
	align-items: center;

	@include media('<=sm') {
		display: block;
		padding: 55px 0 20px 20px;
		background-color: var(--background);
		box-shadow: 5px 0 5px rgba(0, 0, 0, 0.05);
	}

	&__close {
		@extend %reset-button;
		width: 26px;
		height: 26px;
		position: absolute;
		top: 14px;
		right: 16px;
		z-index: 1;
		display: none;

		@include media('<=sm') {
			display: block;
		}

		svg {
			width: 100%;
			aspect-ratio: 1;
			fill: var(--dark);
		}
	}

	&__inner {
		display: contents;
		height: 100%;
		
		@include media('<=sm') {
			display: flex;
			flex-flow: column nowrap;
			padding-right: 20px;
			overflow-y: auto;
			gap: 24px;
			
			&::-webkit-scrollbar {
				width: 3px;
				height: 3px;
			}
	
			&::-webkit-scrollbar-track {
				background-color: var(--light);
			}
			
			&::-webkit-scrollbar-thumb {
				background-color: var(--dark);
				border-radius: 10px;
			}
			
			&::-webkit-scrollbar-corner {
				background-color: transparent;
			}		
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		gap: 16px;
		width: 100%;
		max-width: 700px;
		
		@include media('<=sm') {
			flex-flow: column nowrap;
			margin-bottom: auto;
			gap: 24px;
		}
	}

	&__link {
		text-decoration: none;
		font-weight: 600;
		color: inherit;
		
		@include media('<=md') {
			font-weight: 500;
			font-size: 15px;
		}

		@include media('<=sm') {
			font-size: 16px;
		}
	}

	&__utils {
		display: flex;
		align-items: center;
		gap: 10px;

		@include media('<=sm') {
			display: contents;
		}
	}

	&__search {

	}

	&__feedback {
		@extend %reset-button;
		width: 32px;
		height: 32px;
		// display: none;

		svg {
			width: 100%;
			aspect-ratio: 1;
			fill: var(--grey);
		}
	}
}