<footer class="footer"> 
	<div class="footer__inner container">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia optio placeat enim, temporibus deserunt eos aspernatur maiores totam vitae molestiae minima earum. Quaerat, illo alias vel in fugit nesciunt architecto porro fuga tempore voluptatum neque corrupti ullam minima autem ducimus eligendi exercitationem maxime doloribus. Earum enim aliquam aspernatur doloribus voluptatum!</div>
</footer> 
<script src="common.js"></script> 
</body> 
</html>