<div class="@@if(this.cls){@@cls} card1">
	<div class="card1__wrapper">
		<div class="card1__image"><img src="./images/noimage.svg" alt=""></div>
		<div class="card1__body">
			<div class="card1__price">15 000</div>
			<h2 class="card1__title">voluptatem natus earum qui explicabo</h2>
			<div class="card1__text">Maxime iste ducimus minima earum sit dolor incidunt! Mollitia suscipit maxime necessitatibus? Sit a minus blanditiis molestiae eos, odio nostrum consectetur quidem, quia possimus nihil.</div>
			<div class="card1__hidden">
				<a class="card1__button" href="./">more details</a>
			</div>
		</div>
	</div>
</div>
