<header class="header header_fixed" data-scroll-lock-fill-gap> 
	<div class="header__inner container">
		<a class="header__logo" href="./">Logo</a>
		<div class="header__navi h-navi">
			<button class="h-navi__close"></button>
			<nav class="h-navi__menu" data-scroll-lock-scrollable>
				<a class="h-navi__link" href="./course.html">Course</a>
				<a class="h-navi__link" href="./">Fugaquae</a>
				<a class="h-navi__link" href="./">Ullamquidem</a>
				<a class="h-navi__link" href="./">Reprehenderit</a>
				<a class="h-navi__link" href="./">Accusamus</a>
				<a class="h-navi__link" href="./">Cumvel</a>
			</nav>
		</div>
		<div class="header__side">
			<a class="header__button" href="./">Contact us</a>
			<button class="header__navi-toggle"></button>
		</div>
	</div>
</header> 
