<aside class="@@if(this.cls){@@cls} sidebar1">
	<button class="sidebar1__close">
		<svg><use xlink:href="#close"></use></svg>
	</button>
	<button class="sidebar1__toggle"><span>
		<svg><use xlink:href="#filter"></use></svg>
	</span></button>
	<div class="sidebar1__inner">
		<div class="sidebar1__filter filter1">
			<h2 class="filter1__title">
				<span>minima earum</span>
				<svg><use xlink:href="#shevron"></use></svg>
			</h2>
			<div class="filter1__body">
				<div class="filter1__wrapper ladder1">
					<div class="ladder1__item">
						<div class="ladder1__link"><button></button><a href="./">accusantium totam</a></div>
						<div class="ladder1__level">
							<div class="ladder1__item">
								<div class="ladder1__link"><button></button><a href="./">optio obcaecati</a></div>
								<div class="ladder1__level">
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">saepe consectetur</a></div></div>
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">nobis similique</a></div></div>
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">beatae repellendus</a></div></div>
								</div>
							</div>
							<div class="ladder1__item">
								<div class="ladder1__link"><button></button><a href="./">adipisci voluptate</a></div>
								<div class="ladder1__level">
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">deleniti corrupti</a></div></div>
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">tenetur nostrum</a></div></div>
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">perferendis sed</a></div></div>
								</div>
							</div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">dolorem veritatis</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">aliquid rerum</a></div></div>
						</div>
					</div>
					<div class="ladder1__item">
						<div class="ladder1__link"><button></button><a href="./">voluptates cumque</a></div>
						<div class="ladder1__level">
							<div class="ladder1__item">
								<div class="ladder1__link"><button></button><a href="./">odio repellat</a></div>
								<div class="ladder1__level">
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">dolorem aliquam</a></div></div>
									<div class="ladder1__item"><div class="ladder1__link"><a href="./">culpa veritatis</a></div></div>
								</div>
							</div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">vel numquam</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">dignissimos est</a></div></div>
						</div>
					</div>
					<div class="ladder1__item">
						<div class="ladder1__link"><button></button><a href="./">doloremque facilis</a></div>
						<div class="ladder1__level">
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">aliquid ipsam</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">repudiandae natus</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">nostrum rerum</a></div></div>
						</div>
					</div>
					<div class="ladder1__item">
						<div class="ladder1__link"><button></button><a href="./">aspernatur dolore</a></div>
						<div class="ladder1__level">
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">quod quibusdam</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">sed nulla</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">nostrum tempore</a></div></div>
						</div>
					</div>
					<div class="ladder1__item">
						<div class="ladder1__link"><button></button><a href="./">assumenda nihil</a></div>
						<div class="ladder1__level">
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">doloremque tempora</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">commodi voluptate</a></div></div>
						</div>
					</div>
					<div class="ladder1__item">
						<div class="ladder1__link"><button></button><a href="./">iusto officiis</a></div>
						<div class="ladder1__level">
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">ipsum dignissimos</a></div></div>
							<div class="ladder1__item"><div class="ladder1__link"><a href="./">sequi beatae</a></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar1__filter filter1">
			<h2 class="filter1__title">
				<span>officia maiores</span>
				<svg><use xlink:href="#shevron"></use></svg>
			</h2>
			<div class="filter1__body">
				<fieldset class="filter1__wrapper">
					<div
						class="filter1__range"
						data-range-start-min="20000"
						data-range-start-max="80000"
						data-range-max="100000"
						data-range-step="1000"
						data-range-gap="20000"
					>
						<input type="range">
						<input type="range">
					</div>
				</fieldset>
			</div>
		</div>
		<div class="sidebar1__filter filter1">
			<h2 class="filter1__title">
				<span>facilis itaque</span>
				<svg><use xlink:href="#shevron"></use></svg>
			</h2>
			<div class="filter1__body">
				<fieldset class="filter1__wrapper chbox1">
					<label class="chbox1__input"><input type="checkbox"><span>veritatis</span></label>
					<label class="chbox1__input"><input type="checkbox" checked><span>provident</span></label>
					<label class="chbox1__input"><input type="checkbox"><span>cupiditate</span></label>
					<label class="chbox1__input"><input type="checkbox"><span>architecto</span></label>
				</fieldset>
			</div>
		</div>
		<div class="sidebar1__filter filter1">
			<h2 class="filter1__title">
				<span>nostrum rerum</span>
				<svg><use xlink:href="#shevron"></use></svg>
			</h2>
			<div class="filter1__body">
				<fieldset class="filter1__wrapper">
					<input class="filter1__range2" type="range" value="20" min="0" max="100">
				</fieldset>
			</div>
		</div>
		<div class="sidebar1__filter filter1">
			<h2 class="filter1__title">
				<span>suscipit maxime</span>
				<svg><use xlink:href="#shevron"></use></svg>
			</h2>
			<div class="filter1__body">
				<fieldset class="filter1__wrapper chbox2">
					<label class="chbox2__input"><input type="checkbox"><span>nobis</span></label>
					<label class="chbox2__input"><input type="checkbox" checked><span>esse</span></label>
					<label class="chbox2__input"><input type="checkbox"><span>earum</span></label>
					<label class="chbox2__input"><input type="checkbox"><span>ipsam</span></label>
					<label class="chbox2__input"><input type="checkbox"><span>modi</span></label>
					<label class="chbox2__input"><input type="checkbox"><span>vitae</span></label>
					<label class="chbox2__input"><input type="checkbox"><span>ditate</span></label>
				</fieldset>
			</div>
		</div>
	</div>
</aside>
