@use 'lib' as *;

.layout2 {
	$self: &;
	background-color: var(--bright);
	
	&.container {

		@include media('<=md') {
			width: auto;
			padding: 0;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: var(--container);
		grid-gap: 16px 24px;
		margin-left: auto;

		@include media('<=md') {
			grid-template-columns: 1fr;
		}
	}

	&__image {

		@include media('<=md') {
			max-height: 500px;
			order: -1;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__text {
		padding: 24px 0;
		line-height: 1.3;
		font-size: 15px;
		
		@include media('<=md') {
			padding: var(--gap);
		}
	}
}
