.cards {
	$self: &;
	/* layout */
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;

	&__item {
		grid-column: span 4;
		
		@include media('<=lg') {
			grid-column: span 6;
		}
		
		@include media('<=xxs') {
			grid-column: span 12;
		}
	}

	/* styling */

	&__item {
		box-sizing: border-box;
		background-color: #ddd;
		min-height: 250px;
		padding: 15px;

		&::before {
			display: block;
			content: '';
			width: 50%;
			height: 15px;
			margin-bottom: 15px;
			background-color: #aaa;
		}

		&::after {
			display: block;
			content: '';
			min-height: 120px;
			background:
			linear-gradient(#c0c0c0 5px, transparent 0);
			background-size: auto 20px;
		}
	}
}
