.aside {
	$self: &;
	position: relative;

	/* layout */

	&_blind {
		@include media('<=sm') {
			position: fixed;
			height: 100vh;
			height: 100dvh;
			z-index: 10;
			right: -300px; top: 0;
			max-width: 300px;
			width: 100%;
				
			#{$self}__toggle {
				display: block;
			}
			
			#{$self}__close {
				display: block;
			}

			#{$self}__content {
				position: static;
			}
				
			&.opened {
				right: 0;
			}
		}
	}

	&__content {
		position: sticky;
		top: 100px;
	}

	&__close {
		@extend %reset-button;
		display: none;
		position: absolute;
		top: 10px;
		left: 10px;
	}

	&__toggle {
		@extend %reset-button;
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 2;
		transform: translate(-100%, -50%);
	}

	/* styling */

	&_blind {
		@include media('<=sm') {
			padding: 60px 0 20px;
			background-color: #fff;		
			box-shadow: 5px 0 20px rgba(0, 0, 0, 0.1);
			transition: right 0.3s ease-out;
		}
	}

	&__content {
		box-sizing: border-box;
		background-color: #ddd;
		min-height: 500px;
		padding: 20px;

		&::after {
			display: block;
			content: '';
			min-height: 150px;
			background:
			linear-gradient(#c0c0c0 5px, transparent 0);
			background-size: auto 20px;
		}

		@include media('<=sm') {
			background-color: transparent;
		}
	}

	&__close {
		width: 38px;
		height: 38px;
		background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" preserveAspectRatio="none"><defs><style>.line{fill:#444;fill-rule:evenodd;}</style></defs><rect class="line" x="10.5" y="9" width="26" height="2" transform="rotate(45 10.5 9)"/><rect class="line" x="28.8" y="10.5" width="26" height="2" transform="rotate(135 28.8 10.5)"/></svg>') center / contain no-repeat transparent;
	}
	
	&__toggle {
		width: 40px;
		height: 50px;
		box-shadow: -7px 0px 7px rgba(0, 0, 0, 0.1);
		border-radius: 100px 0 0 100px;
		background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="6" height="24" viewBox="0 0 6 24"><defs><style>.aside{fill:#999;fill-rule:evenodd;}</style></defs><circle class="aside" cx="3" cy="3" r="3"/><circle class="aside" cx="3" cy="12" r="3"/><circle class="aside" cx="3" cy="21" r="3"/></svg>') center / auto no-repeat #fff;
	}
}
